# Intro

Here's is the message from Earth:
'I remember that if you sort the countries (or dependencies) [Guinea, Iran, Trinidad And Tobago, Honduras, Lebanon, Ethiopia, Niger, Afghanistan, India, American Samoa, Cuba, Gabon, Nicaragua, Channel Islands, Martinique] by density of population (DESCENDING) and then only look at the first letter of each country, you'll get my message back!! Can you help me please?'

To help our planet, we preloaded world population and geographical data from the website Worldometer (https://worldometers.info/). Use it to do what the earth says and decode the message!

In [ ]:
import pandas as pd

countries = ['Guinea', 'Iran', 'Trinidad and Tobago', 'Honduras', 'Lebanon',
             'Ethiopia', 'Niger', 'Afghanistan', 'India', 'American Samoa',
             'Cuba', 'Gabon', 'Nicaragua', 'Channel Islands', 'Martinique']

country_pop = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/population_by_country.csv')

In [ ]:
country_pop.head()

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share
0,China,1440297825,0.39 %,61 %,18.47 %
1,India,1382345085,0.99 %,35 %,17.70 %
2,United States,331341050,0.59 %,83 %,4.25 %
3,Indonesia,274021604,1.07 %,56 %,3.51 %
4,Pakistan,221612785,2.00 %,35 %,2.83 %

In [ ]:
country_surface = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/surface_by_country.csv')

In [ ]:
country_surface.head()

  Country (or dependency)  Land Area (Km²)
0                   China          9388211
1                   India          2973190
2           United States          9147420
3               Indonesia          1811570
4                Pakistan           770880

In [ ]:
# Your turn now!

In [ ]:
df_country = pd.merge(country_pop, country_surface)
df_country

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share,Land Area (Km²)
0,China,1440297825,0.39 %,61 %,18.47 %,9388211
1,India,1382345085,0.99 %,35 %,17.70 %,2973190
2,United States,331341050,0.59 %,83 %,4.25 %,9147420
3,Indonesia,274021604,1.07 %,56 %,3.51 %,1811570
4,Pakistan,221612785,2.00 %,35 %,2.83 %,770880
...,...,...,...,...,...,...
230,Montserrat,4993,0.06 %,10 %,0.00 %,100
231,Falkland Islands,3497,3.05 %,66 %,0.00 %,12170
232,Niue,1628,0.68 %,46 %,0.00 %,260
233,Tokelau,1360,1.27 %,0 %,0.00 %,10
234,Holy See,801,0.25 %,N.A.,0.00 %,0

In [ ]:
df_country = df_country.set_index('Country (or dependency)').loc[countries]
df_country

,Population (2020),Yearly Change,Urban Pop %,World Share,Land Area (Km²)
Country (or dependency),,,,,
Guinea,13191279,2.83 %,39 %,0.17 %,245720
Iran,84176929,1.30 %,76 %,1.08 %,1628550
Trinidad and Tobago,1400283,0.32 %,52 %,0.02 %,5130
Honduras,9931333,1.63 %,57 %,0.13 %,111890
Lebanon,6819976,-0.44 %,78 %,0.09 %,10230
Ethiopia,115434444,2.57 %,21 %,1.47 %,1000000
Niger,24346468,3.84 %,17 %,0.31 %,1266700
Afghanistan,39074280,2.33 %,25 %,0.50 %,652860
India,1382345085,0.99 %,35 %,17.70 %,2973190
American Samoa,55169,-0.22 %,88 %,0.00 %,200
Cuba,11325391,-0.06 %,78 %,0.15 %,106440
Gabon,2234448,2.45 %,87 %,0.03 %,257670
Nicaragua,6638075,1.21 %,57 %,0.08 %,120340
Channel Islands,174140,0.93 %,30 %,0.00 %,190
Martinique,375213,-0.08 %,92 %,0.00 %,1060

In [ ]:
df_country['Density'] = df_country['Population (2020)']/df_country['Land Area (Km²)']
df_density = df_country.sort_values('Density',ascending=False)

In [ ]:
message = ''
for name in df_density.index:
  message += name[0]
print(message)

CLIMATECHANGING